<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
<div class="span6 offset3">

  <ul class="unstyled">
    <li><%= link_to image_tag('twitter_32.png', alt: 'Twitter') +
                ' Twitter', base_url + '/auth/twitter' %></li>
    <li><%= link_to image_tag('google_32.png', alt: 'Google') +
                ' Google', base_url + '/auth/google_oauth2' %></li>
  </ul>

  <div style="margin:10px 0px">
    <strong>or</strong> if you have a local account:
  </div>

  <%= form_tag(base_url + "/auth/identity/callback", class: 'form-horizontal') do %>
    <div class="field control-group">
      <%= label_tag :auth_key, "Email", class: 'control-label' %>
      <div class='controls'>
        <%= text_field_tag :auth_key %>
      </div>
    </div>
    <div class="field control-group">
      <%= label_tag :password, nil, class: 'control-label' %>
      <div class='controls'>
        <%= password_field_tag :password %>
      </div>
    </div>
    <div class='control-group'>
      <div class="actions controls">
        <%= submit_tag "Login", class: 'btn' %>
      </div>
    </div>
  <% end %>
  <%= link_to "create a local account", signup_path %>
  
</div>
</div>
