<div id="ui">
  <%= render '/scenes/graphicsArea' %>
  <%= render '/scenes/graphicsOverlay', :allowEdit => false %>
  <script type='text/javascript'>
      var itemId = "<%= @item.id %>";
      window.globals = {
          onLoadUrl: window.globalViewData.base_url + '/experiments/select_view/' + itemId + '/load',
          cameraJsonString: <%= raw(@data['camera'].to_json) %>
      };
   </script>
</div>
<%= requirejs_include_tag('gl_app/fp-viewer-main') %>
