<!-- new scene modal -->
<div id="NewSceneModal" class="modal fade"
     tabindex="-1" role="dialog"
     aria-labelledby="NewSceneModalLabel">
  <div class="modal-dialog">
  <div class="modal-content">
  <%= form_tag(scenes_path,
               class: 'form-horizontal modal-form') do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
                aria-hidden="true">
          ×
        </button>
        <h4 class="modal-title" id="NewSceneModalLabel"> New Scene </h4>
      </div>
      <div class="modal-body">
        <div class="field form-group">
          <%= label_tag :name, nil, class: 'col-sm-2 control-label' %>
          <div class='col-sm-10'>
            <%= text_field_tag :name, nil, autofocus: 'autofocus' %>
          </div>
        </div>
        <div class="field form-group">
          <%= label_tag :description, nil, class: 'col-sm-2 control-label' %>
          <div class='col-sm-10'>
            <%= text_area_tag :description, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="field form-group">
          <%= label_tag :category, nil, class: 'col-sm-2 control-label' %>
          <div class='col-sm-10'>
            <%= text_field_tag :category, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="field form-group">
          <%= label_tag :tag, nil, class: 'col-sm-2 control-label' %>
          <div class='col-sm-10'>
            <%= text_field_tag :tag, nil, class: 'form-control' %>
          </div>
        </div>
        <div class="field form-group">
          <%= label_tag :dataset, nil, class: 'col-sm-2 control-label' %>
          <div class='col-sm-10'>
            <%= text_field_tag :dataset, nil, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn"
                data-dismiss="modal" aria-hidden="true">
          Cancel
        </button>
        <%= submit_tag "Create Scene", class: "btn btn-primary" %>
      </div>
  <% end %>
  </div>
  </div>
</div>
