<div class="col-md-3 col-sm-6 col-xs-12">
  <div class="thumbnail">
    <div class="scene-item">
      <% if scene.preview %>
        <% preview_url = scene.preview.url %>
        <% if preview_url %>
          <%= image_tag 'scenePreview.jpg', { 'data-original' => preview_url, 'class' => 'img-responsive lazy' } %>
        <% end %>
      <% else %>
          <%= image_tag 'scenePreview.jpg', { 'class' => 'img-responsive'}%>
      <% end %>
      <%= link_to scene.name, { action: 'edit', id: scene.id },
                  class: 'btn btn-default scene-name' %>
      <%= link_to '', { action: 'view', id: scene.id },
                  class: 'btn btn-default glyphicon glyphicon-camera scene-view' %>
      <%= link_to '×', scene, confirm: 'Are you sure?', method: :delete,
                  class: 'btn btn-danger scene-delete' %>
    </div>
  </div>
</div>
