<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(@scene.name) %></title>
    <%= stylesheet_link_tag('editor', 'architecture_generator') %>
    <%= stylesheet_link_tag('jquery-ui-1.8.21.custom') %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"/><![endif]-->
</head>
<body>
<div id="ui">
    <div id="graphicsArea">
        <canvas id="canvas"
                oncontextmenu="return false;"
                tabindex="-1"
                onclick="$('#canvas').focus();"></canvas>
    </div>
    <%= render 'graphicsOverlay' %>
    <%= render 'searchPanel' %>
</div>
<%= render 'glsl_shaders/shaders' %>
<%= render partial: 'globalViewData'%>
<%= javascript_include_tag ('custom_shims.js') %>
<%= javascript_include_tag ('/gl_app/javascripts/require.js'), :'data-main' => "/gl_app/javascripts/main", :recursive => true %>

</body>
</html>
