<div id="ui">
    <%= render 'graphicsArea' %>
    <%= render 'graphicsOverlay' %>
    <%= render 'searchPanel' %>
    <%= render 'console' %>
</div>
<%= requirejs_include_tag('gl_app/editor-main') %>