<div id="ui">
    <%= render '/scenes/graphicsArea' %>
    <%= render '/scenes/graphicsOverlay' %>
    <%= render '/scenes/searchPanel' %>
    <%= render '/scenes/console' %>
</div>
<%= requirejs_include_tag('gl_app/editor-main') %>