<%= stylesheet_link_tag('editor', 'architecture_generator') %>
<div id="ui">
    <%= render 'graphicsArea' %>
    <%= render 'graphicsOverlay' %>
    <%= render 'searchPanel' %>
</div>
<%= requirejs_include_tag('gl_app/editor-main') %>