<% provide(:title, "My Scenes") %>
<div class="row">
  <div class="span8 offset2">
    <h3>Scenes (<%= @scene_list.count %>)</h3>
    <!-- scene list -->
    <% if @scene_list.any? %>
      <ol class="unstyled">
        <%= render @scene_list ,click_verb:@mode %>
      </ol>
    <% end %>

    <!-- new scene modal -->
    <button class="new-scene btn btn-primary" href="#NewSceneModal"
            type="button" data-toggle="modal">
      New Scene
    </button>
    <div id="NewSceneModal" class="modal hide fade"
         tabindex="-1" role="dialog"
         aria-labelledby="NewSceneModalLabel" aria-hidden="true">
      <%= form_tag(scenes_path,
                   class: 'form-horizontal modal-form') do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-hidden="true">
            ×
          </button>
          <h3 id="NewSceneModalLabel"> New Scene </h3>
        </div>
        <div class="modal-body">
          <div class="field control-group">
            <%= label_tag :name, nil, class: 'control-label' %>
            <div class='controls'>
              <%= text_field_tag :name %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn"
                  data-dismiss="modal" aria-hidden="true">
            Cancel
          </button>
          <%= submit_tag "Create Scene", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
