<% provide(:title, "My Scenes") %>
<div class="row">
  <div class="span12">
    <h3>Scenes (<%= @scene_list.count %>)
    <!-- new scene button -->
    <button class="new-scene btn btn-primary" href="#NewSceneModal"
            type="button" data-toggle="modal">
      New Scene
    </button>
    </h3>

    <!-- new scene modal -->
    <div id="NewSceneModal" class="modal hide fade"
         tabindex="-1" role="dialog"
         aria-labelledby="NewSceneModalLabel" aria-hidden="true">
      <%= form_tag(scenes_path,
                   class: 'form-horizontal modal-form') do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
                  aria-hidden="true">
            ×
          </button>
          <h3 id="NewSceneModalLabel"> New Scene </h3>
        </div>
        <div class="modal-body">
          <div class="field control-group">
            <%= label_tag :name, nil, class: 'control-label' %>
            <div class='controls'>
              <%= text_field_tag :name, nil, autofocus: 'autofocus' %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn"
                  data-dismiss="modal" aria-hidden="true">
            Cancel
          </button>
          <%= submit_tag "Create Scene", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- scene list -->
<% if @scene_list.any? %>
<div class="row-fluid">
  <div class="span12">
      <ul class="thumbnails">
        <%= render @scene_list %>
      </ul>
  </div>
</div>
<% end %>
