<div id="taskInstructions" align="center" class="taskInstructions">
  <div style='text-align:left'>
    <!-- TODO: make introduction specific to select
     CHANGE INSTRUCTIONS HERE!!!!
     DESCRIBE TASK IN MORE DETAIL...-->
    <p>
      You will be shown <%=@entries.length%> pairs of images of scenes. Each pair of images shows a scene <b>before</b>
        and <b>after</b> an object in the scene has been selected. The before and
        after images are automatically switched every few seconds. The selected object in the <b>after</b> scene will
        be highlighted in green. <br></br>
    </p>
    <p>

      <b> YOUR TASK: </b>  Please provide a descriptive, imperative command that would cause the given object
     to be highlighted. A good command will give an informative description of the spatial location of the object
     in its scene, using any information about the relative positioning of other objects in the scene. Make sure to
        provide your command in the form <i>Select the flower pot on the table.</i> Two examples of good commands
        for <b>before</b>/<b>after</b> scenes are provided below. <br></br>

        <b>NOTE:</b> You can hover your mouse over the image to pause switching between them. <br></br>

    </p>
    <p>
      <b>The task should take about <%=@taskTime['taskTime'] %> in total. </b>
    </p>
  </div>

  <hr>

  <div>Example 1: "Select the toy on the edge of the top shelf."</div>
  <div class="before-after thumbnail">
    <div>
      <div><h2>BEFORE</h2></div>
      <%= image_tag( @conf['exampleImagesPath'] + 'scene00017_1_before.png', {class: 'img-responsive'}) %>
    </div>
    <div>
      <div><h2>AFTER</h2></div>
      <%= image_tag( @conf['exampleImagesPath'] + 'scene00017_1_black.png', {class: 'img-responsive'}) %>
    </div>
  </div>

  <hr>

  <div>Example 2: "Select the monitor to the left of the glasses."</div>
  <div class="before-after thumbnail">
    <div>
      <div><h2>BEFORE</h2></div>
      <%= image_tag( @conf['exampleImagesPath'] + 'scene00028_3_before.png', {class: 'img-responsive'}) %>
    </div>
    <div>
      <div><h2>AFTER</h2></div>
      <%= image_tag( @conf['exampleImagesPath'] + 'scene00028_3_black.png', {class: 'img-responsive'}) %>
    </div>
  </div>

  <hr>

  <input type="button" id="startButton" class="largeButton" value="Start"/>
</div>


<div id="mturkOverlay" style="display:none">
  <div class="container">
    <div class="row">
      <div id="progressTextDiv" class="col-md-12 center largeFont">TEST</div>
      <div class="col-md-12 before-after thumbnail">
        <div>
          <h2>BEFORE</h2>
          <%= image_tag '', id: 'sceneImageBefore', class: 'img-responsive' %>
        </div>
        <div>
          <h2>AFTER</h2>
          <%= image_tag '', id: 'sceneImageAfter', class: 'img-responsive' %>
        </div>
      </div>
    </div>
    <div class="row textDescription center">
      <div class="col-md-12">
        <p>Write a command to change the first scene into the second</p>
        <%= text_area_tag('sceneDescription', nil, {class: 'col-md-6 col-md-offset-3', rows: 2}) %>
        <input type="button" id="nextButton" class="largeButton" value="Next"/>
      </div>
    </div>
  </div>
</div>

