<div id="taskInstructions" align="center" class="taskInstructions">
  <div style='text-align:left'>
    <p>
      We built a program that will let you give commands to change a virtual room.
      You will be shown <%=@entries.length%> pairs of rooms.
    </p>
    <p>
      Each pair shows the scene <b>before</b> and <b>after</b> the command.
      Please provide a command that would <b>cause the change from before to after</b>.
      Give the command in the imperative (e.g., "Put a flower pot on the table").
    </p>
    <p>
      Each scene should take about <%=@taskTime['sceneTime'] %> to complete.
      The task should take about <%=@taskTime['taskTime'] %> in total.
    </p>
  </div>

  <hr>

  <div>Example 1: "Put a bowl on the table"</div>
  <div class="before-after thumbnail">
    <div>
      <div><h2>BEFORE</h2></div>
      <%= image_tag( @conf['exampleImagesPath'] + 'before0000.png', {class: 'img-responsive'}) %>
    </div>
    <div>
      <div><h2>AFTER</h2></div>
      <%= image_tag( @conf['exampleImagesPath'] + 'after0000.png', {class: 'img-responsive'}) %>
    </div>
  </div>

  <hr>

  <div>Example 2: "Put the chessboard on the table"</div>
  <div class="before-after thumbnail">
    <div>
      <div><h2>BEFORE</h2></div>
      <%= image_tag( @conf['exampleImagesPath'] + 'before0003.png', {class: 'img-responsive'}) %>
    </div>
    <div>
      <div><h2>AFTER</h2></div>
      <%= image_tag( @conf['exampleImagesPath'] + 'after0003.png', {class: 'img-responsive'}) %>
    </div>
  </div>

  <hr>

  <input type="button" id="startButton" class="largeButton" value="Start"/>
</div>


<div id="mturkOverlay" style="display:none">
  <div class="container">
    <div class="row">
      <div id="progressTextDiv" class="col-md-12 center largeFont">TEST</div>
      <div class="col-md-12 before-after thumbnail">
        <div>
          <h2>BEFORE</h2>
          <%= image_tag '', id: 'sceneImageBefore', class: 'img-responsive' %>
        </div>
        <div>
          <h2>AFTER</h2>
          <%= image_tag '', id: 'sceneImageAfter', class: 'img-responsive' %>
        </div>
      </div>
    </div>
    <div class="row textDescription center">
      <div class="col-md-12">
        <p>Write a command to change the first scene into the second</p>
        <%= text_area_tag('sceneDescription', nil, {class: 'col-md-6 col-md-offset-3', rows: 2}) %>
        <input type="button" id="nextButton" class="largeButton" value="Next"/>
      </div>
    </div>
  </div>
</div>

