<%= render '/experiments/largeimg' %>
<div id="taskInstructions" class="wholescreenOverlay">
  <div align="center" class="taskInstructions">
    <div style='text-align:left'>
      <p>You will be shown <%=@entries.length%> sentences.  For each sentence,
        you will be shown <%=@conf['nChoices']%> images.  Please select
        the image that best matches the sentence.
      </p>
      <p>
        Each sentence should take about <%=@taskTime['sceneTime'] %> to complete.
        The task should take about <%=@taskTime['taskTime'] %> in total.
      </p>
     </div>
  <div align="center">
    <table class="exampleTable">
      <thead>
      <th></th>
      <th>Example 1</th>
      <th>Example 2</th>
      </thead>
      <tbody>
      <tr>
        <th>Scene</th>
        <td>
          <div align="center" class="mturkExample">
            <%= image_tag( @conf['exampleImagesPath'] + 'example1.png', { width: 400, class: "enlarge" } ) %>
          </div>
        </td>
        <td>
          <div align="center" class="mturkExample">
            <%= image_tag( @conf['exampleImagesPath'] + 'example2.png', { width: 400, class: "enlarge" } ) %>
          </div>
        </td>
      </tr>
      <tr>
        <th>Description</th>
        <td>
          There is a bed in the corner of the room.
        </td>
        <td>
          There is a round table with a green table cloth and two plates.
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div  class="center">
    <input type="button" id="startButton" class="largeButton" value="Start"/>
  </div>
  </div>
</div>

<div id="mturkOverlay" class="wholescreenOverlay" style="display:none">
    <div id="instructionsTextDiv" class="textDescription center">
    <p>Please select the scene that is most similar to the following description</p>
    </div>
    <div id="sceneDescription" class='textDescription'>
    </div>
    <div>
      <table>
        <tr>
          <%for i in 0...@conf['nChoices']%>
          <td><%= image_tag '', id: "sceneImage#{i}" %></td>
          <%end%>
        </tr>
      </table>
    </div>
    <p>Click the "Next" button when you're ready to continue.</p>
    <input type="button" id="nextButton" class="largeButton" value="Next"/>
</div>
