<%= render '/experiments/largeimg' %>
<div id="taskInstructions" class="wholescreenOverlay">
  <div align="center" class="taskInstructions">
    <div style='text-align:left'>
      <p>You will be shown <%=@entries.length%> scenes along with a description of the scene.
          Please indicate how well the generated scene matches the description.
      </p>
      <p>
        Each scene should take about <%=@taskTime['sceneTime'] %> to complete.
        The task should take about <%=@taskTime['taskTime'] %> in total.
      </p>
     </div>
  <div align="center">
    <table class="exampleTable">
      <thead>
      <th>Example</th>
      </thead>
      <tbody>
      <tr>
        <td>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div  class="center">
    <input type="button" id="startButton" class="largeButton" value="Start"/>
  </div>
  </div>
</div>

<div id="mturkOverlay" class="container wholescreenOverlay largeFont" style="display:none">
    <div id="instructionsTextDiv" class="center">
    <p>Please rate on a scale of 1 to <%=@nChoices%> on how well the scene matches the description</p>
    </div>
    <div id="sceneDescription" class='textDescription'>
    </div>
    <div class="container">
        <div class="row">
        <%= image_tag '', id: "sceneImage" %>
        </div>

        <div class="row">
        <% if @scale %>
            <table class="center">
                <tr><th></th>
                    <%for i in 1..@nChoices %>
                        <th><%= i.to_s%></th>
                    <%end%>
                    <th></th></tr>
                <tr>
                    <th><%=@choices[0]%></th>
                    <%for i in 1..@nChoices %>
                        <td class="rating"><%= radio_button_tag 'rating', i.to_s %></td>
                    <%end%>
                    <th><%=@choices[@nChoices-1]%></th>
                </tr>
            </table>
        <% else %>
          <%for i in 1..@nChoices %>
            <div class="radio">
                <label><%= radio_button_tag 'choice', i.to_s%><%=i.to_s%>-<%= @choices[i-1]%></label>
            </div>
          <%end%>
        <%end%>
        </div>
    </div>
    <div class="center">
    <p>Click the "Next" button when you're ready to continue.</p>
    <input type="button" id="nextButton" class="largeButton" value="Next"/>
    </div>
</div>
