<%= render '/experiments/largeimg' %>
<div id="taskInstructions" class="wholescreenOverlay">
  <div align="center" class="taskInstructions">
    <div style='text-align:left'>
      <p>You will be shown <%=@entries.length%> scenes along with a description of the scene.
          Please indicate how well the generated scene matches the description.
      </p>
      <p>
        Each scene should take about <%=@taskTime['sceneTime'] %> to complete.
        The task should take about <%=@taskTime['taskTime'] %> in total.
      </p>
     </div>
  <div align="center">
    <table class="exampleTable">
      <thead>
      <tr><th>Example</th></tr>
      </thead>
      <tbody>
      <tr>
        <td>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="center">
    <input type="button" id="startButton" class="largeButton" value="Start"/>
  </div>
  </div>
</div>

<div id="mturkOverlay" style="display:none">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= image_tag '', id: 'sceneImage', class: 'img-responsive'%>
      </div>
    </div>
    <div id="sceneDescription" class='row textDescription'></div>
    <div class="row">
      <div class="col-md-12 text-center largeFont">
        <span class="pull-left"><%=@choices[0]%></span>
        <span class="pull-right"><%=@choices[-1]%></span>
        <div id="ratingBtnGroup" class="btn-group btn-group-lg btn-group-justified" role="group" data-toggle="buttons">
          <%for i in 1..@nChoices %>
            <label class="btn btn-default">
              <input type="radio" id="r<%=i.to_s%>" name="rating" value="<%=i.to_s%>"/><%=i.to_s%>
            </label>
          <%end%>
        </div>
      </div>
    </div>
    <div class="row center">
      <input type="button" id="nextButton" class="btn btn-lg btn-primary" value="Next"/>
    </div>
  </div>
</div>
