<div id="ui">
  <%= render '/experiments/submit_mturk_report' %>
  <% if @conf['taskType'] == 'rate-scene-description-pair' %>
    <%= render 'rateSceneDescriptionPair' %>
  <% else %> <!-- assume 'rateScene' for now -->
    <%= render 'rateScene' %>
  <% end %>
  <%= render 'globals' %>
</div>
<%= render '/experiments/comments' %>
<%= requirejs_include_tag('experiments/rate-scene') %>