<tr>
  <td><%= result.item %></td>
  <td><%= result.condition %></td>
  <td><%= result.workerId %></td>
  <td>
    <% parsed = JSON.parse(result.data) %>
    <% if parsed["entry"] %>
        <%= link_to parsed["entry"]["description"], { action: 'view', id: result.id } %>
    <% else %>
        <%= link_to result.item, { action: 'view', id: result.id } %>
    <% end %>
  </td>
  <td>
    <% if result.preview %>
        <% preview_url = result.preview.url %>
        <% if preview_url %>
           <%= image_tag preview_url %>
        <% end %>
    <% end %>
  </td>
</tr>