<tr>
  <td><%= result.updated_at %></td>
  <td><%= link_to result.item, params.merge(:item => result.item) %></td>
  <td><%= link_to result.condition, params.merge(:condition => result.condition) %></td>
  <td><%= link_to result.workerId, params.merge(:workerId => result.workerId) %></td>
  <td>
    <% entry = JSON.parse(result.data) %>
    <% if entry %>
        <% preview_url = get_preview_for_scene_url(entry['entry']['url']) %>
        <% if preview_url %>
           <%= image_tag preview_url %>
        <% end %>
    <% end %>
  </td>
  <td>
    <% if entry %>
        <%= link_to entry['description'], { action: 'view', id: result.id } %>
    <% else %>
        <%= link_to result.item, { action: 'view', id: result.id } %>
    <% end %>
  </td>
</tr>