<tr>
  <% done = !assignment.completed_at.nil? %>
  <td><%= assignment.created_at %></td>
  <td>
    <% if done %>
      <%= distance_of_time_in_words(assignment.created_at, assignment.completed_at) %>
    <% end %>
  </td>
  <td><%= assignment.mt_task.name %></td>
  <td><%= assignment.mt_worker.mtId %></td>
  <td><%= assignment.data %></td>
</tr>