<tr>
  <% task = taskInfo %>
  <td><%= task.name %></td>
  <td><%= task.title %></td>
  <td>
    <% completed_count = @completed_items_count[task.id] %>
    <%= link_to "results(#{completed_count})", { controller: 'experiments/' + task.name, action: 'results' }  rescue "" %>
  </td>
  <% if Rails.env.development? %>
  <td><%= link_to 'test', { action: 'task',
                            assignmentId: task.name + '_assignment', workerId: 'test_worker', hitId: task.name } %></td>
  <% end %>
  <td><%= task.live? %></td>
</tr>