<tr>
  <% task = taskInfo %>
  <td><%= task.name %></td>
  <td><%= task.title %></td>
  <td>
    <%= link_to 'results', { controller: 'experiments/' + task.name, action: 'results' }  rescue "" %>
  </td>
  <td><%= link_to 'test', { action: 'task',
                            assignmentId: task.name + '_assignment', workerId: 'test_worker', hitId: task.name } %></td>
  <td><%= task.live? %></td>
</tr>