<div id="taskInstructions" class="taskInstructions wholescreenOverlay">
  <p>You will be shown <%=@entries.length%> images of indoor scenes.
    For each image, you will be asked to construct a scene that matches the image
    by finding appropriate objects and placing them in a room.
  </p>
  <p>
    Each scene should take around 5 minutes to complete.  The task should take about 10 minutes in total.
  </p>
  <div>
    <p><b>Example</b></p>
    <table>
      <thead>
      <th>Image</th>
      <th>Constructed scene</th>
      </thead>
      <tbody>
      <tr>
        <td>
          <%= image_tag( @conf['exampleImagesPath'] + 'image1.png', { width: 400, class: "cssEnlarge" } ) %>
        </td>
        <td>
          <div align="center" class="scene">
            <%= image_tag( @conf['exampleImagesPath'] + 'scene1.png', { width: 400, class: "cssEnlarge" } ) %>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <%= image_tag( @conf['exampleImagesPath'] + 'image2.png', { width: 400, class: "cssEnlarge" } ) %>
        </td>
        <td>
          <div align="center" class="scene">
            <%= image_tag( @conf['exampleImagesPath'] + 'scene2.png', { width: 400, class: "cssEnlarge" } ) %>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div  class="center">
    <input type="button" id="startButton" class="largeButton" value="Start"/>
  </div>
</div>

<div id="mturkOverlay" class="mturkOverlay" oncontextmenu="$('#canvas').focus(); return false;" onclick="$('#canvas').focus();"  style="display:none">
  <div class="center">
    <input type="button" id="startButton" class="largeButton" value="Start"/>
  </div>
  <div id="editInstructions" class="editInstructions">
    <p id="prompt" class="prompt">Put mouse here for instructions</p>
    <div id="instructions" class="instructions">
      <p>Place objects in the room to create a scene that best resembles the picture on the left (mouse over to zoom).</p>
      <p>Find objects using the search bar on the right.
        Left click on search results and left click in the scene to place the object. Left-click drag to move objects.</p>
      <p>When an object is selected, drag the blue circle around it to rotate it, and drag the yellow arrows to resize it.
        Keyboard shortcuts: up and down arrow to resize, left and right arrow to rotate.</p>
      <p>To move the camera use right-click dragging and the mousewheel, or use the camera control button in the top left corner.</p>
      <p>Place at least 5 objects but feel free to add more so the room better resembles the picture.</p>
      <p>Click the "Save" button when you're done to go on to the next scene.</p>
    </div>
  </div>
</div>
