<div id="ui">
  <%= render '/scenes/graphicsArea' %>
  <%= render '/scenes/graphicsOverlay', :allowEdit => false %>
  <%= render 'entryOverlay' %>
  <script type='text/javascript'>
      var itemId = "<%= @item.id %>";
      window.globals = {
          onLoadUrl: window.globalViewData.base_url + '/experiments/image2scene/' + itemId + '/load'
     };
      var entry = <%= raw(@entry.to_json) %>;
      document.getElementById('targetImage').src = entry['url'];
   </script>
</div>
<%= requirejs_include_tag('gl_app/viewer-main') %>
