<!DOCTYPE html>
<html>
<head>
    <title><%= full_title(@scene.name) %></title>
    <%= stylesheet_link_tag('jquery-ui-1.8.21.custom') %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"/><![endif]-->
</head>
<body>
<%= render 'glsl_shaders/shaders' %>
<%= render 'scenes/globalViewData'%>
<%= javascript_include_tag('custom_shims.js') %>
<%= yield %>
</body>
</html>